<h1 style="text-align: center;">Update <%=@product.product_name%></h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div style="text-align:center">
    Name of Product:
    <input type="text" name="product_name" value="<%=@product.product_name%>">
  </div>
<br>
  <div style="text-align:center">
    Price(numbers and decimal only):
    <input type="float" name="price" value="<%=@product.price%>">
  </div>
<br>
  <div style="text-align:center">
    Description of Product:
    <input type="text" name="desc" value="<%=@product.desc%>">
  </div>
<br>
  <div style="text-align:center">
    Link to Product Image:
    <input type="text" name="image" value="<%=@product.image%>">
  </div>
<br>
  <div style="text-align:center">
    <input type="submit" value="Submit Changes" style="width:20em">
  </div>
<%end%>