<h1>All Products</h1>

<div class="row">
  <% @all_products.each do |product| %>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <a href="/products/<%=product.id%>">
          <img class="card-img-top" src="<%=product.image%>" alt="Card image cap"></a>
          <div class="card-body">
            <h4 class="card-title"> <%= product.product_name%> </h2>
            <p class="card-text">$<%= product.price%>
            <br>
            <%= product.desc%> </p>
          </div>
      </div>
    </div>
  <%end%>
</div>
  <h2><a href="/products/new">Add New Product</a></h2>
<br>
<br>