
<h1 style="text-align: center;"><%= @product.product_name %></h1>
<img src="<%=@product.image%>" style="height:300px; width:400px; display:block; margin:auto;">
<h3 style="text-align: center;"><%= number_to_currency(@product.price)%> <%=@product.sale_message%></h3>
<h3> Tax: <%=number_to_currency(@product.tax)%></h3>
<h3> Total: <%=number_to_currency(@product.total)%></h3>
<p style="text-align: center;"><%= @product.desc%></p>
<div style="text-align: center">
  <a href="/products/<%=@product.id%>/edit">Edit</a>
</div>
<div style="text-align: center">
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="Delete Product">
  <%end%>
</div>